<ion-grid fixed>
  <ion-row>
    <ion-col size="12" sizeLg="3" sizeMd="4" sizeSm="6" sizeXs="12"
    *ngFor="let article of articles; let i = index">

    <app-article [article]="article" [index]="i + 1">

    </app-article>

    </ion-col>
  </ion-row>
</ion-grid>
