<ion-card>
  <ion-card-subtitle class="ion-margin">

    <ion-row class="ion-align-items-center">
      <ion-col (click)="abrirArticulo()"  class="ion-margin">
        <span class="text-primary">
          {{index}}.
        </span>
        <span class="article-source-name">
          {{article.source.name}}
        </span>
      </ion-col>
      <ion-col >
        <ion-button (click)="onOpenMenu()" fill="clear">
          <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-card-subtitle>
  <ion-card-title class="ion-padding-horizontal ion-margin-bottom" >
    {{article.title}}
  </ion-card-title>
  <ion-img (click)="abrirArticulo()" *ngIf="article.urlToImage" [src]="article.urlToImage"></ion-img>
  <ion-card-content *ngIf="article.description">
    {{article.description}}
  </ion-card-content>
</ion-card>
